/* #region ||||| UTILITIES ||||| */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region ||||| UTILITIES ||||| */


/* #region ||||| DEBUG RULES ||||| */



/* #endregion ||||| DEBUG RULES ||||| */


/* #region ||||| COMMON RULES ||||| */



/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| MAIN ||||| */



/* #endregion ||||| MAIN ||||| */


/* #region ||||| MEDIA QUERY ||||| */



/* #endregion ||||| MEDIA QUERY ||||| */