/* #region ||||| UTILITIES ||||| */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d_flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
  align-items: flex-start;
}

.col_4 {
  width: calc((100% / 12) * 4);
}

.col_8 {
  width: calc((100% / 12) * 8);
}

/* #region ||||| UTILITIES ||||| */


/* #region ||||| DEBUG RULES ||||| */

.debug {

  #site_main {
    background-color: bisque;
  }

  .profile {
    background-color: lightgoldenrodyellow;
  }

  .notifications {
    background-color: lightblue;
  }

  .search_bar {
    background-color: lightgray;
  }

  .contact {
    background-color: lightyellow;
  }

  .active_contact {
    background-color: lightpink;
  }

  .input_message {
    background-color: lightcoral;
  }

  .chat {
    background-image: url("../img/mine.jpg");

    .sent_message {
      background-color: rgb(111, 239, 111);
    }

    .received_message {
      background-color: white;
    }
  }
}

.debug {

  #site_main {
    height: 100vh;
    padding: 1rem 0;

    .app {
      width: 80%;
      max-width: 1200px;
      height: 95vh;
      margin: auto;
      box-shadow: 15px 15px 15px -5px grey;
      border: 1px solid grey;
      border-radius: 10px;
      overflow-y: hidden;

      .row,
      .col_8,
      .left_side,
      .right_side {
        height: 100%;
      }

      .left_side,
      .right_side {
        width: 100%;
        position: relative;
      }

      .left_side {
        border-right: 1px solid grey;
      }

      .contacts {
        height: calc(100% - 185px);
      }

      .chat {
        height: calc(100% - 140px);
        padding: 3rem;
        gap: 0.5rem;

        .sent_message,
        .received_message {
          border-radius: 10px;
          padding: 1rem 1rem 2rem;
          max-width: 60%;
        }

        .sent_message {
          align-self: flex-end;
        }

        .received_message {
          align-self: flex-start;
        }
      }

      .contacts,
      .chat {
        width: 100%;
        overflow-y: scroll;
      }

      .profile,
      .notifications,
      .active_contact,
      .input_message {
        width: 100%;
        height: 70px;
      }

      .search_bar,
      .notifications,
      .chat,
      .input_message {
        border-top: 1px solid grey;
      }

      .search_bar {
        width: 100%;
        height: 45px;
        border-bottom: 1px solid grey;
      }

      .contact {
        width: 100%;
        height: 75px;
        border-bottom: 1px solid lightgray;
      }
    }
  }
}


/* #endregion ||||| DEBUG RULES ||||| */


/* #region ||||| COMMON RULES ||||| */

body {
  font-family: 'Lato', sans-serif;
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| MAIN ||||| */



/* #endregion ||||| MAIN ||||| */


/* #region ||||| MEDIA QUERY ||||| */



/* #endregion ||||| MEDIA QUERY ||||| */