/* #region ||||| UTILITIES ||||| */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed;
}

.d_flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
  align-items: flex-start;
}

.col_4 {
  width: calc((100% / 12) * 4);
}

.col_8 {
  width: calc((100% / 12) * 8);
}

/* #region ||||| UTILITIES ||||| */


/* #region ||||| DEBUG RULES ||||| */

.debug {

  .app {

    width: 80%;
    max-width: 1200px;
    height: 95vh;
    margin: 2.5vh auto;
    overflow-y: hidden;

    .left_side,
    .right_side {
      position: relative;
    }

    .chat {
      height: calc(100vh - 24vh)
    }

    .contacts,
    .chat {
      width: 100%;
      overflow-y: scroll;
    }

    .profile,
    .notifications,
    .active_contact,
    .input_message {
      /* position: fixed; */
      width: 100%;
      height: 75px;
    }

    .search_bar {
      width: 100%;
      height: 35px;
    }

    .contact {
      width: 100%;
      height: 75px;
    }
  }
}


/* #endregion ||||| DEBUG RULES ||||| */


/* #region ||||| COMMON RULES ||||| */



/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| MAIN ||||| */



/* #endregion ||||| MAIN ||||| */


/* #region ||||| MEDIA QUERY ||||| */



/* #endregion ||||| MEDIA QUERY ||||| */